#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/cat-pattern.jpg");
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}